

body {
    background-image: url(../images/grass.jpg);
}


#question_div {
   font-size: 24px;
   color: white;
   font-family: Arial;
}

#timer {
   font-size: 24px;
   color: white;
   font-family: Arial;
}

.correct {
   font-size: 24px;
   color: white;
   font-family: Arial;
}

.incorrect {
   font-size: 24px;
   color: white;
   font-family: Arial;
}

#choices_div {
	font-size: 24px;
   font-family: Arial;
   color: white;
}


.container {
     margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#buttons {
    display: inline-block; 
  padding: 20px 40px;
  color: white;
  vertical-align: middle;
  font-family: 'Rubik One', sans-serif;
  text-decoration: none;
  font-size: 2vw;
  transition: all .5s;
}